# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [49]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [50]:
# your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [55]:
# your code here
orders

#Aggregate Amount Spent for unique customers(we use the CustomerID):
orders_amount = orders.groupby(["Country","CustomerID"]).agg({"amount_spent":sum,}).reset_index()
orders_amount

#Finding the entries and their respectives quantiles
print(orders_amount.quantile([.75, .95], axis = 0))
orders_amount["75-95%"] = (orders_amount["amount_spent"] >=  1661.640) & (orders_amount["amount_spent"] < 5840.182)

orders_amount[">95%"] = orders_amount["amount_spent"] >=  5840.182

#Label the customer
labels=['Regular customer', 'Preferred customer', 'VIP customer']
bins = pd.cut(orders_amount["amount_spent"],[0,1661.640,5840.182,1000000000000],labels = labels)
orders_amount["type_customer"] = bins
orders_amount

      CustomerID  amount_spent
0.75     16776.5      1661.195
0.95     17982.8      5774.278

,Country,CustomerID,amount_spent,75-95%,>95%,type_customer
0,Australia,12386,401.90,False,False,Regular customer
1,Australia,12388,2780.66,True,False,Preferred customer
2,Australia,12393,1582.60,False,False,Regular customer
3,Australia,12415,124914.53,False,True,VIP customer
4,Australia,12422,386.20,False,False,Regular customer
...,...,...,...,...,...,...
4342,United Kingdom,18287,1837.28,True,False,Preferred customer
4343,Unspecified,12363,552.00,False,False,Regular customer
4344,Unspecified,12743,546.43,False,False,Regular customer
4345,Unspecified,14265,530.18,False,False,Regular customer
4346,Unspecified,16320,1038.46,False,False,Regular customer

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [81]:
# your code here
orders_amount
orders_vip = orders_amount.groupby(["Country"]).agg({">95%":"sum"}).reset_index()
orders_vip

#Its UK!

                 Country  >95%
0              Australia     1
1                Austria     0
2                Bahrain     0
3                Belgium     0
4                 Brazil     0
5                 Canada     0
6        Channel Islands     1
7                 Cyprus     1
8         Czech Republic     0
9                Denmark     1
10                  EIRE     2
11    European Community     0
12               Finland     1
13                France     9
14               Germany    10
15                Greece     0
16               Iceland     0
17                Israel     0
18                 Italy     0
19                 Japan     2
20               Lebanon     0
21             Lithuania     0
22                 Malta     0
23           Netherlands     1
24                Norway     1
25                Poland     0
26              Portugal     2
27                   RSA     0
28          Saudi Arabia     0
29             Singapore     1
30                 Spain     2
31                Sweden     1
32           Switzerland     3
33                   USA     0
34  United Arab Emirates     0
35        United Kingdom   177
36           Unspecified     0

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [84]:
# your code here

orders_amount["VIP+Preferred"] = orders_amount["amount_spent"] >=  1661.640
orders_combined = orders_amount.groupby(["Country"]).agg({"VIP+Preferred":"sum"})
orders_combined

#It's UK!

                      VIP+Preferred
Country
Australia                         4
Austria                           1
Bahrain                           0
Belgium                          11
Brazil                            0
Canada                            1
Channel Islands                   4
Cyprus                            3
Czech Republic                    0
Denmark                           3
EIRE                              3
European Community                0
Finland                           5
France                           29
Germany                          39
Greece                            1
Iceland                           1
Israel                            2
Italy                             5
Japan                             4
Lebanon                           1
Lithuania                         0
Malta                             1
Netherlands                       1
Norway                            7
Poland                            1
Portugal                          7
RSA                               0
Saudi Arabia                      0
Singapore                         1
Spain                             7
Sweden                            2
Switzerland                       9
USA                               0
United Arab Emirates              0
United Kingdom                  932
Unspecified                       0